<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
   
   <!-- Credit card Bean Definition -->
   <bean id="credit" class="in.ashokit.beans.CreditCardPayment" />
   
   <!-- Debit card Bean Definition -->
   <bean id="debit" class="in.ashokit.beans.DebitCardPayment" />
   
   <!-- Zeta card Bean Definition -->
   <bean id="zeta" class="in.ashokit.beans.ZetaCardPayment" />
   
   <bean id="paymentProcessor" class="in.ashokit.beans.PaymentProcessor">
   
   	 <!-- Setter Injection for payment  -->
   	 <!--  <property name="payment" ref="debit" />-->
   	 
   	 <!-- Constructor Injection -->
  	 <constructor-arg name="payment" ref="debit" /> 
  	 
  	 
  	 
   </bean>
   
</beans>